<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="amqmdnet" version="8.0.0.1" targetFramework="net461" />
  <package id="amqmdxcs" version="8.0.0.1" targetFramework="net461" />
  <package id="Isban.Common.Connector" version="1.1.0.1" targetFramework="net461" />
  <package id="Isban.Common.Connector.MQ.Data" version="1.1.0.1" targetFramework="net461" />
  <package id="Isban.Mercados" version="3.0.0.19143" targetFramework="net461" />
  <package id="Isban.Mercados.UnityInject" version="3.0.0.19143" targetFramework="net461" />
</packages>