<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="LogTraceSection" type="Isban.Mercados.LogTrace.Settings.ConfigurationLogTraceSection, Isban.Mercados"/>
    <section name="WebApiConfiguration" type="Isban.Mercados.WebApiClient.Settings.WebApiConfigurationSection, Isban.Mercados.WebApiClient"/>
  </configSections>
  <LogTraceSection UriTrace="http://webbpsibedesa01:2018/api/Trace/SaveTrace/" UriLog="http://webbpsibedesa01:2018/api/Log/SaveLog/" Aplication="MMAPS Local 2.0" SLA="5" ExcludeTrace="http://webbpsibedesa01:2018/api/Trace/GetExcludeTraceForAplication/"/>
  <WebApiConfiguration Mode="Service" UriService="http://webbpsibedesa01:2012/api/Informacion/ObtenerServicios/" TimeoutService="120" AplicationId="MAPSMB_LOCAL" CacheExpiration="1440">
    <Services/>
  </WebApiConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="UriService" value="http://webbpsibedesa02:4000/MAPSMBServiceWorkflow/EjecutarWorkflowSAF"/>
    <add key="UriSuscripciones" value="http://webbpsibedesa02:4000/MAPSMBServiceWorkflow/EjecutarWorkflowAGD"/>
    <add key="UriRescate" value="http://webbpsibedesa02:4000/MAPSMBServiceWorkflow/EjecutarWorkflowRescate"/>
    <add key="UriRTF" value="http://localhost:4000/MAPSMBWorkflowRTF/EjecutarWorkflowRTF"/>
    <add key="UriRTFPDF" value="http://localhost:4000/MAPSMBWorkflowRTF/EjecutarWorkflowEnvioPdfRTF"/>
    <add key="UriRepatriacion" value="http://webbpsibedesa02:4000/MAPSMBServiceWorkflow/EjecutarWorkflowRepatriacion"/>
    <add key="UriAltaCuentas" value="http://webbpsibedesa02:4000/MAPSMBServiceWorkflow/EjecutarWorkflowAltaCuentaTitulos"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="Isban.Mercados.LogTrace.Logging" switchValue="All">
        <listeners>
          <add name="Logging"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="Isban.Mercados.LogTrace.Performance" switchValue="All">
        <listeners>
          <add name="Performance"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\weblogs\MMAPS-BE-4000\MotorConsole.Logging.log" type="Isban.Mercados.LogTrace.GenericHealthModelTraceListener, Isban.Mercados" name="Logging">
        <filter type=""/>
      </add>
      <add initializeData="C:\weblogs\MMAPS-BE-4000\MotorConsole.Trace.log" type="Isban.Mercados.LogTrace.GenericHealthModelTraceListener, Isban.Mercados" name="Performance">
        <filter type=""/>
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
