<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--magic transformations here-->
  <LogTraceSection UriTrace="http://webbpsibedesa01:2018/api/Trace/SaveTrace/" UriLog="http://webbpsibedesa01:2018/api/Log/SaveLog/" Aplication="MMAPS Local 2.0" SLA="5" ExcludeTrace="http://webbpsibedesa01:2018/api/Trace/GetExcludeTraceForAplication/" xdt:Transform="Replace"/>

  <WebApiConfiguration Mode="Service" UriService="http://webbpsibedesa01:2012/api/Informacion/ObtenerServicios/" TimeoutService="120" AplicationId="MAPSMB_DESA" CacheExpiration="1440" xdt:Transform="Replace">
    <Services />
  </WebApiConfiguration>

  <appSettings xdt:Transform="Replace">
    <add key="UriService" value="http://webbpsibedesa01:4000/MAPSMBServiceWorkflow/EjecutarWorkflowSAF"/>
    <add key="UriSuscripciones" value="http://webbpsibedesa01:4000/MAPSMBServiceWorkflow/EjecutarWorkflowAGD" />
    <add key="UriRescate" value="http://webbpsibedesa01:4000/MAPSMBServiceWorkflow/EjecutarWorkflowRescate" />
    <add key="UriRTF" value="http://webbpsibedesa01:4000/MAPSMBWorkflowRTF/EjecutarWorkflowRTF" />
  </appSettings>
  <system.diagnostics xdt:Transform="Replace">
    <sources>
      <source name="Isban.Mercados.LogTrace.Logging" switchValue="All">
        <listeners>
          <add name="Logging" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="Isban.Mercados.LogTrace.Performance" switchValue="All">
        <listeners>
          <add name="Performance" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="D:\weblogs\MMAPS-BE-4000\MotorConsole.Logging.log" type="Isban.Mercados.LogTrace.GenericHealthModelTraceListener, Isban.Mercados" name="Logging">
        <filter type="" />
      </add>
      <add initializeData="D:\weblogs\MMAPS-BE-4000\MotorConsole.Trace.log" type="Isban.Mercados.LogTrace.GenericHealthModelTraceListener, Isban.Mercados" name="Performance">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>