<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.diagnostics xdt:Transform="Replace" >
    <sources>
      <source name="WebMessageLogging" switchValue="All">
        <listeners>
          <add name="WebMessageLogging" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="Isban.Mercados.LogTrace.Logging" switchValue="All">
        <listeners>
          <add name="Logging" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="Isban.Mercados.LogTrace.Performance" switchValue="All">
        <listeners>
          <add name="Performance" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="Isban.Common.Trace" switchValue="Information, Warning, Error">
        <listeners>
          <add name="Default" type="System.Diagnostics.DefaultTraceListener" />
          <add name="fileTrace">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="Isban.Common.Performance" switchValue="All">
        <listeners>
          <add name="fileTrace1" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="D:\weblogs\MMAPS-4000\MMAPS.Logging.log" type="Isban.Mercados.LogTrace.GenericHealthModelTraceListener, Isban.Mercados" name="Logging">
        <filter type="" />
      </add>
      <add initializeData="D:\weblogs\MMAPS-4000\MMAPS.Trace.log" type="Isban.Mercados.LogTrace.GenericHealthModelTraceListener, Isban.Mercados" name="Performance">
        <filter type="" />
      </add>
      <add initializeData="D:\weblogs\MMAPS-4000\MMAPS.TraceWeb.log" type="Isban.Mercados.LogTrace.GenericHealthModelTraceListener, Isban.Mercados" name="WebMessageLogging">
        <filter type="" />
      </add>
      <add initializeData="D:\weblogs\MMAPS-4000\MMAPS.log" type="Isban.Common.Trace.GenericHealthModelTraceListener, Isban.Common" name="fileTrace" >
        <filter type="" />
      </add>
      <add initializeData="D:\weblogs\MMAPS-4000\MMAPS.Performance.cvs" type="Isban.Common.Trace.GenericHealthModelTraceListener, Isban.Common" name="fileTrace1" >
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>

</configuration>