<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net461" />
  <package id="Isban.Common" version="2.1.0.1" targetFramework="net461" />
  <package id="Isban.Common.Data" version="3.1.0.1" targetFramework="net461" />
  <package id="Isban.Common.Data.IATX" version="3.1.0.1" targetFramework="net461" />
  <package id="Isban.Mercados" version="3.0.0.19143" targetFramework="net461" />
  <package id="Isban.Mercados.DataAccess" version="3.0.0.19143" targetFramework="net461" />
  <package id="Isban.Mercados.Security.Adsec" version="3.0.0.19144" targetFramework="net461" />
  <package id="Isban.Mercados.UnityInject" version="3.0.0.19143" targetFramework="net461" />
  <package id="Isban.Mercados.WebApiClient" version="3.0.0.19144" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="4.121.2" targetFramework="net462" />
</packages>