<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <!-- <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>-->
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="NexusMercados" value="http://nexus.iaas.ar.bsch/repository/Mercados/" />
	<add key="NexusBPTI" value="http://nexus.iaas.ar.bsch/repository/BPTI/" />
  </packageSources>
</configuration>
