<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ERIService" />
        <binding name="ERIService1" />
        <binding name="ERIService2" />
        <binding name="ServicesSoapBinding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="MESACReportesService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://webdesafront2.rio.ar.bsch:6480/ERIService.svc"
        binding="basicHttpBinding" bindingConfiguration="ERIService"
        contract="WSERIService.IERIService" name="ERIService" />
      <endpoint address="http://webhomobmg:8010/eriservice.svc" binding="basicHttpBinding"
        bindingConfiguration="ERIService1" contract="WSERIService.IERIService"
        name="ERIService1" />
      <endpoint address="http://webhomobmg:8010/eriservice.svc" binding="basicHttpBinding"
        bindingConfiguration="ERIService2" contract="WSERIService.IERIService"
        name="ERIService2" />
      <endpoint address="http://wasinetdesamya01:9081/servicios/Services"
        binding="basicHttpBinding" bindingConfiguration="ServicesSoapBinding"
        contract="MYAService.Services" name="Services" />
      <endpoint address="http://webbmgsrv06.rio.ar.bsch:6467/MESACReportesService.svc"
        binding="customBinding" bindingConfiguration="MESACReportesService"
        contract="MESACReportesService.IMESACReportesService" name="MESACReportesService" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
